{% extends 'catalog/base.html' %}

{% block title %}О сервисе{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">О нашем сервисе</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Добро пожаловать в наш каталог ламп!</h5>
                <p class="card-text">
                    Мы специализируемся на предоставлении качественных осветительных приборов для вашего дома и офиса.
                    В нашем каталоге вы найдете широкий выбор ламп различных типов, мощностей и дизайнов.
                </p>
                <p class="card-text">
                    Наша миссия - помочь вам найти идеальное освещение для любого пространства.
                    Мы тщательно отбираем продукцию, чтобы предложить вам только лучшие варианты.
                </p>
                <p class="card-text">
                    В каталоге вы можете:
                </p>
                <ul>
                    <li>Просматривать полный ассортимент ламп</li>
                    <li>Изучать детальные характеристики каждого товара</li>
                    <li>Находить подходящие варианты по типу и мощности</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 